.program {
  padding-top: 16px;
  @media screen and (min-width: $tabletScreen) {
    padding-top: 77px;
  }

  &__text {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  &__list {
    @extend %list;
    margin-bottom: 8px;
  }
  &__list-item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__detail-text {
    margin-bottom: 55px;
  }

  &__details-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $tabletScreen) {
      align-items: flex-start;
      justify-content: flex-end;
    }
    @media screen and (min-width: $desktopScreen) {
      margin-top: 48px;
    }
  }

  &__details-item {
    position: relative;
    background-color: $featuresBackgroundColor;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
    &:not(:nth-child(2n)) {
      margin-right: 20px;
      align-self: flex-start;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 24px;
    }
    &:nth-child(2n) {
      margin-top: 40px;
    }
    @media screen and (min-width: $tabletScreen) {
      &:not(:nth-child(2n)) {
        margin-right: 33px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 16px;
      }
    }
    @media screen and (min-width: $desktopScreen) {
      padding-top: 65px;
      padding-bottom: 16px;
      &:not(:nth-child(2n)) {
        margin-right: 140px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 80px;
      }
    }
  }

  &__details-image {
    width: 80px;
    position: absolute;
    top: -35px;
    left: 23px;
    @media screen and (min-width: $desktopScreen) {
      width: 97px;
      top: -48px;
      left: 40px;
    }
  }
  &__details-subtitle {
    margin-bottom: 4px;
    @media screen and (min-width: $tabletScreen) {
      margin-bottom: 16px;
    }
  }
  &__details-description {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 8px;

    @media screen and (min-width: $desktopScreen) {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  &__details-icon {
    width: 19px;
    height: 19px;
    margin-left: 55px;
    margin-right: 55px;
    @media screen and (min-width: $tabletScreen) {
      width: 21px;
      height: 21px;
    }
    @media screen and (min-width: $desktopScreen) {
      width: 25px;
      height: 25px;
      margin-left: 77px;
      margin-right: 77px;
    }
  }
}

.program-wrapper {
  @media screen and (min-width: $tabletScreen) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-text {
      width: 80%;
      padding-right: 32px;
      @media screen and (min-width: $desktopScreen) {
        padding-right: 70px;
      }
    }
  }
}
