$backgroundColor: #e5e5e5;
$textColor: #2e2520;
$mobileMenuBackgroundColor: rgba(254, 243, 228, 0.9);
$buttonColor: #ab816c;
$buttonTextColor: #ffffff;
$featuresBackgroundColor: #fef3e4;
$transitionDuration: 250ms;
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mobileScreen: 320px;
$tabletScreen: 768px;
$desktopScreen: 1280px;
